.footer{
    margin-top: 100px;
    padding: 30px 30px;
    background-color: lightgray;
    
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-between;
}

.contact ul{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    list-style-type: none;
}

.contact a{
    padding: 5px;
}